absl-py
altair
anyio
anytree
argon2-cffi
argon2-cffi-bindings
asgiref
astor
asttokens
attrs
autopep8
backcall
backports.zoneinfo
base58
black
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
colorlog
commonmark
conllu
cycler
dataclasses
datasets
debugpy
decorator
defusedxml
dill
elasticsearch
entrypoints
executing
faiss-cpu
fastapi
filelock
fire
fonttools
fsspec
future
git-python
gitdb
GitPython
google-auth
google-auth-oauthlib
googleapis-common-protos
grpcio
h11
h5py
huggingface-hub
idna
importlib-metadata
importlib-resources
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
jieba
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
multiprocess
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
numpy
oauthlib
packaging
pandas
pandocfilters
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
pluggy
portalocker
prometheus-client
promise
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py
pyarrow
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydantic
pydeck
Pygments
Pympler
pyparsing
pyrsistent
pytest
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
pyzmq
regex
requests
requests-oauthlib
rich
rouge-score
rsa
sacrebleu
sacremoses
scikit-learn
scipy
Send2Trash
sentencepiece
seqeval
six
smmap
sniffio
stack-data
starlette
streamlit
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-datasets
tensorflow-metadata
termcolor
terminado
testpath
threadpoolctl
tokenizers
toml
tomli
toolz
tornado
tqdm
traitlets
transformers
typing-extensions
tzdata
tzlocal
urllib3
uvicorn
validators
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
xxhash
zipp
